<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>My Passwords.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>40DBD0131C17B3EB00B52612</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40DBD02F1C17B3EC00B52612</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40DBD03A1C17B3EC00B52612</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
